<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.federico.cicerone.contentproviderexample" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.Stores"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".sqlite.ContentProvider"
            android:authorities="com.federico.cicerone.contentprovider" >
        </provider>

        <activity
            android:name=".Activities.Books"
            android:label="@string/title_activity_books"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.Stores" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.federico.cicerone.contentproviderexample.Activities.Stores" />
        </activity>
        <activity
            android:name=".Activities.Details"
            android:label="@string/title_activity_details"
            android:parentActivityName=".Activities.Books" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.federico.cicerone.contentproviderexample.Activities.Books" />
        </activity>
        <activity
            android:name=".Activities.CreateBook"
            android:label="@string/title_activity_create_book"
            android:parentActivityName=".Activities.Books" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.federico.cicerone.contentproviderexample.Activities.Books" />
        </activity>
        <activity
            android:name=".Activities.CreateStore"
            android:label="@string/title_activity_create_store"
            android:parentActivityName=".Activities.Stores" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.federico.cicerone.contentproviderexample.Activities.Stores" />
        </activity>
    </application>

</manifest>
